

body{
	background-image: url(images/background.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin: auto;
}

.container{
	width: 962px;
	margin: auto;
}

/*-------------------------header-------------------------*/

.header{
	width: 100%;
	height: 205px;
}

.nav-bar{
	width: 100%;
	height: 60px;
	background-image: url(images/transparency-90-gradient.png);
}

.nav-bar ul{
	padding: 0px;
}

.nav-bar li{
	padding-left:55px;
	padding-top: 16px;
	padding-bottom: 17px;
	border-right: 2px ridge #1a1a1d;
	text-decoration: none;
	display: inline-block;
	float: left;
	width: 103px;
}

.nav-bar li:first-of-type{
	border-left: 2px ridge #1a1a1d;
	width: 101px;
}

.nav-bar a{
	font-family: "Myriad Pro";
	font-size: 22px;
	color: #7f7f7f;
	text-decoration: none;
}

.logo{
	color: #fff;
	width: 100%;
	height: 146px;
	margin: auto;
}

.logo h1{
	font-size: 76px;
	font-family:"NewsGothicBT Bold","Myriad Pro";
	text-shadow: 0px 0px 10px #fff;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 50px;
	padding-top: 20px;
}

.logo h3{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 50px;
	font-size: 20px;
	font-family:"NewsGothicBT Roman","Myriad Pro";
	position: relative;
	top: -20px;
	left: 200px;
}

.purple-text{
	color: #7532a9;
}

span.purple-glow{
	text-shadow: 0px 0px 10px #7532a9;
}

.purple-box{
	color: #fff;
	background-color: #622698;
}

/*-------------------------main-------------------------*/
/*-------------------------different kinds of containers used in main: text-square, event, gallery-------------------------*/

.main{
	background-image:url(images/transparency-95.png);
	padding: 11px 50px 0px 50px;
	float:left;
}

.main h1{
	font-size: 40px;
	color: #fff;
	margin: 20px 0px;
	font-family:"NewsGothicBT Roman","Myriad Pro";
	clear: left;
}

.main h2{
	margin: 9px 0px;
	font-family:"NewsGothicBT Roman","Myriad Pro";
}

.main p{
	font-size: 14px;
	font-family: arial;
	line-height: 25px;
	margin-top: 0px;
}

p{
	color: #fff;
}

.main .grey-text{
	color:#7f7f7f;
}

p.grey-text{
margin-bottom: 7px;
}

.right{
	float: right;
}

.left{
	float: left;
}

.main li{
	list-style-image: url(images/list-img.png);
	color: #fff;
	line-height: 25px;
}

.main ul{
	padding-left: 15px;
}

a {
	text-decoration: none;
	color:#fff;
}

/*-------------------------text-square / used on club page-------------------------*/

.text-square{
	width: 405px;
	height: 330px;
	display: inline-block;
	margin-bottom: 30px;
}

.date p{
	margin-bottom: 0px;
}

.date{
	margin-bottom: 30px;
}

.date-circle{
	font-family:"NewsGothicBT Roman","Myriad Pro";
	color: #fff;
	background-color: #7330a7;
	width: 85px;
	height: 85px;
	box-shadow: 0px 0px 20px 10px #401c5c;
	border-radius: 41px;
	display: inline-block;
	float: left;
	margin-right: 20px;
	margin-top: 5px;
}

.date-circle h1{
	font-size: 48px;
	font-weight: bold;
	margin: 0px;
	line-height: 50px;
	position: relative;
	left: 15px;
	top: 5px;
}

.date-circle p{
	font-size: 19px;
	margin: 0px;
	position: relative;
	left: 15px;
}

.buttons{
	float: right;
	width: 67px;
	height: 31px;
	position: relative;
	top: -26px;
	display: inline-block;
}

.white-button{
	width: 31px;
	height: 31px;
	box-shadow: 0px 0px 5px 0px #fff;
	display: inline-block;
}

/*-------------------------large-content : used on club page-------------------------*/

.large-content{
	width: 863px;
	float:left;
	font-family: arial;
	margin-bottom: 30px;
}

.large-content h2{
	margin-top: 0px;
}

.large-content h1{
	margin-top: 0px;
}


.event{
	width: 260px;
	height: 292px;
	font-family: "NewsGothicBT Roman", "Myriad Pro";
	display: inline-block;
	float: left;
	color: #fff;
	margin-right: 39px;
}

.rnb{
	background-image: url(images/heels.png);
}

.retro{
	background-image: url(images/retro.png);
}

.sexy1{
	background-image: url(images/sexy.png);
}

.pop{
	background-image: url(images/pop.png);
}

.girls{
	background-image: url(images/girls.png);
}

.sexy2{
	background-image: url(images/turntable.png);
}

.event p{
	font-size: 26px;
	padding-left: 6px;
	padding-top: 3px;
	margin-left: 14px;
}

.event h2{
	margin-left: 14px;
	margin-bottom: 0px;
}

.large-text{
	font-size: 60px;
}

.bold-text{
	font-weight: bold;
}

.transparent-black{
	background-image: url(images/transparency-85.png);
}

.event .transparent-black{
	position: relative;
	top: 54px;
}

.main .purple-box{
	width: 135px;
	height: 32px;
}

.big-text{
	font-size: 50px;
}

.text{
	display: inline-block;
	width: 562px;

}

.inline-block{
	display: inline-block;
}



/*-------------------------gallery-------------------------*/

.large-img{
	width: 861px;
	height: 456px;
	margin-bottom: 40px;
}

.large-img img{
	min-width:861px;
	max-width: 861px;
	max-height: 456px;
}

.gallery{
	width: 100%;
	margin-top: 40px;
}

h1+.gallery{
	margin-top: 0px;
}

.gallery div{
	margin-bottom: 40px;
}

.small-img{
	width: 258px;
	height: 171px;
	display: inline-block;
	margin-right: 40px;
	margin-bottom: 40px;
	margin-right: 40px;
}

.small-img img{
	max-width: 260px;
	max-height: 171px;
}

.portrait{
	width: 258px;
	display: inline-block;
	margin-right: 40px;
}

.portrait img{
	max-width: 260px;
	max-height: 260px;
	margin-bottom: 10px;
}

.portrait p{
	margin: 0px;
}

.large-content .small-img{
	float: left;
	margin-bottom: 0px;
}

.img-right{
	margin-right: 0px;
}

.img-bottom{
	margin-bottom: 0px;
}


/*-------------------------form-------------------------*/

.contact{
	width: 100%;
	float: left;
	margin-bottom: 20px;
}

.contact p{
	display: inline-block;
}


.small-form{
	width: 380px;
	height: 30px;
	float: right;
	display: inline-block;
	margin-right: 360px;
	margin-left: 67px;
}

.large-form{
	float: right;
	display: inline-block;
	width: 740px;
	height: 224px;
}

.contact input[type=submit] {
	color: #7532A9;
	background-color: #fff;
	width: 67px;
	height: 31px;
	padding: 0px;
	border: none;
	margin-top: 20px;
	font-size: 26px;
}

.contact input[type=reset] {
	color: #7532A9;
	background-color: #fff;
	width: 67px;
	height: 31px;
	padding: 0px;
	border: none;
	margin-top: 20px;
	font-size: 26px;
}

.contact+.footer-section{
	padding-left: 0px;
}

/*-------------------------footer-------------------------*/

.footer{
	width: 100%;
	height: 222px;
	margin: auto;
	background-image:url(images/transparency-95.png);
	clear: left;
}

.footer-section{
	width: 259px;
	height: 202px;
	display: inline-block;
	float: left;
	padding-left: 40px;
	padding-top: 10px;
}

.footer-section.mid{
	margin-right: 16px;
	padding-left: 40px;
	width: 284px;
}

.vert-div{
	border-left: 1px solid #292827;
	height: 172px;
	display: inline-block;
	float: left;
}

.footer-list{
	display: inline-block;
	float: left;
}

.footer-list:first-of-type{
	margin-right: 40px;
}

.footer ul{
	padding-left: 0px;
	margin: 0px;
}

.footer li{
	padding-bottom: 8px;
	list-style: none;
}

.footer p{
	font-family: arial;
	font-size: 14px;
	color: #fff;
	margin: 0px;
}

.footer a{
	color: #fff;
	text-decoration: none;
}

.footer h1{
	color: #7f7f7f;
	font-size: 30px;
	font-family: "NewsGothicBT Roman", "Myriad Pro";
	margin: 0px;
	margin-bottom: 15px;
}

.footer h2{
	color: #fff;
	font-family: "NewsGothicBT Roman", "Myriad Pro";
	font-size: 29px;
	margin: 0px;
}

.footer img{
	padding-left: 6px;
}